html {}

h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 350;
    font-size: 77px;
    color: white;
}

h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 275;
    font-size: 43px;
    line-height: 0px;
    color: white;
}

li {
    display: inline-block;
    font-size: 24px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding-right: 30px;
    background-color: #2E4159;
}

.inline-block {
    display: inline-block;
}

.navigation {
    display: inline-block;
    background-color: #2E4159;
    color: white;
    width: 100%;
}

.logo {
    padding: 20px
}

.heroImg {
    background-color: #2E4159;
}

.content {
    padding: 20px
}

.headshot {
    float: right;
    padding-right: 80px;
}