/* ======================
   Text
   =====================*/

h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 350;
    font-size: 77px;
    color: white;
}

h2 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 275;
    font-size: 43px;
    color: white;
}

h2.footer {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 275;
    font-size: 43px;
    line-height: 0px;
    color: white;
}

h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 275;
    font-size: 43px;
    color: #2e4159
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #707070
}

/* ======================
   Navigation
   =====================*/

li {
    display: inline-block;
    font-size: 24px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding-right: 30px;
}

.inline-block {
    display: inline-block;
}

.navigation {
    display: inline-block;
    background-color: #2E4159;
    color: white;
    width: 100%;
}

.logo {
    padding: 20px
}

/* ======================
   Hero Section
   =====================*/

.heroImg {
    height: 680px;
    background-color: #2E4159;
}

/* ======================
   Hi. I'm Nicole
   =====================*/
.left-block {
    height: 680px;
    margin-left: 138px;
    float: left;
    width: 450px;
    text-align: left;
}

.intro {
    height: 396px;
    margin-left: 69px;
    margin-right: 69px;
    margin-top: 150px;
}

/* ======================
   Headshot
   =====================*/
.right-block {
    height: 680px;
    padding-left: 24px;
    padding-right: 24px;
    margin-right: 138px;
    float: right;
    text-align: center;
}

/* ======================
   About Me
   =====================*/

 .skills-container {
    display: flex;
 }  

.about-left {
    margin-left: 138px;
    flex-grow: 1;
}

.skills {
   display: flex;
    flex-shrink: 0; 
    flex-direction: column;
}

/* ======================
   Footer
   =====================*/
.footer {
    display: inline-block;
    background-color: #2E4159;
    width: 100%;
}


.contact {
    display: inline-block;
    padding-bottom: 25px;
    background-color: #2E4159;
    color: white;
    width: 100%;
    text-align: center;
}

.contact2 {
    display: inline-block;
    background-color: #fe8888;
    color: white;
    width: 100%;
    text-align: center;
}

hr.solid {
    border-top: 3px solid white;
}